@{
    ViewData["Title"] = "Add a Movie";
}

@model Mission06_astowe.Models.NewMovie

<br />
<div>
    <form method="post">
        <div asp-validation-summary="All"></div>

        <label asp-for="Title">Movie Title: </label>
        <input asp-for="Title" type="text" id="title"  />
        <br />
        <label asp-for="Year">Year: </label>
        <input asp-for="Year" type="number" id="year" />
        <br />
        <label asp-for="CategoryId">Category: </label>
        <select asp-for="CategoryId" id="CategoryId">
            <option value="">Select a category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
        <br />
        <label asp-for="Director">Director: </label>
        <input asp-for="Director" type="text" id="director"  />
        <br />
        <label asp-for="Rating">Rating: </label>
        <select asp-for="Rating">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG13">PG-13</option>
            <option value="R">R</option>
        </select>
        <br />
        <label asp-for="Edited">Edited: </label>
        <input asp-for="Edited" type="checkbox" id="edited"/>
        <br />
        <label asp-for="LentTo">Lent to: </label>
        <input asp-for="LentTo" type="text" id="lento"/>
        <br />
        <label asp-for="Notes">Notes: </label>
        <textarea asp-for="Notes" id="Notes"></textarea>
        <br />
        <button type="submit">Submit Movie</button>
    </form>
</div>