@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<br />
<div class="header">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <a id="introduction">Welcome to</a>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 id="indexh1">The Joel Hilton Film Collection</h1>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<img src="~/img/JoelHiltonHeadshot.jpg" class="background"/>